<a class="twitter-share-button" data-size="large" data-via="CyrilPeponnet" data-related="twitterapi:Twitter API updates,CyrilPeponnet"
  href="https://twitter.com/share">
Tweet me !
</a>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>